
/*Laravel first css*/
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
/* end laravel fisrt step*/

/*forms*/
    .container_form {
        margin: 0 auto; 
        max-width: 56.25em;
        margin-bottom: 20px;
    }

    .wrapper_form {
        background-color: whitesmoke;
        list-style-type: none;
        padding: 0;
        border-radius: 3px;
    }
    .form-row {
        display: flex;
        justify-content: flex-end;
        padding: .5em;
    }
    .form-row > label {
        padding: .5em 1em .5em 0;
        width: 20%;
    }
    .form-row > input {
        flex: 1;
    }
    .form-row > input,
    .form-row > button {
        padding: .5em;
    }
    .form-row > button {
        background: gray;
        color: white;
        border: 0;
        width: 100px;
    }
/*End forms*/

/*Body page*/
    /*Title*/
        .container_titulo {
            display: flex;
            align-items: center;
            /* -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-font-smoothing: antialiased;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #666666;
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            flex-wrap: nowrap;
            -webkit-box-align: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto; */
        }
        .hr_esquerda {
            width: 50%;
            /* -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-font-smoothing: antialiased;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #666666;
            -webkit-box-direction: normal;
            margin: 0;
            padding: 0;
            display: table-cell;
            vertical-align: middle;
            height: 1px;
            position: relative;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            min-width: 1%; */
        }
        .hr {
            border-top: 1px solid #EBEBEB;
            display: block;
            /* -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-font-smoothing: antialiased;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #666666;
            -webkit-box-direction: normal;
            margin: 0;
            padding: 0;
            height: 1px;
            position: relative;
            top: 1px;
            width: 100%;
            border-color: #ebebeb; */
        }
        .titulo {
            -webkit-flex: none;
            padding: 0 .8em;
            /* -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-font-smoothing: antialiased;
            letter-spacing: 0px;
            -webkit-box-direction: normal;
            font-weight: 400;
            line-height: 1em;
            margin: 0;
            -webkit-box-flex: 0;
            white-space: nowrap;
            word-wrap: break-word;
            display: table-cell;
            box-sizing: border-box;
            font-size: 24px;
            text-transform: uppercase;
            color: black; */
        }
        .hr_direita {
            width: 50%;
            /* -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-font-smoothing: antialiased;
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #666666;
            -webkit-box-direction: normal;
            margin: 0;
            padding: 0;
            display: table-cell;
            vertical-align: middle; 
            height: 1px;
            position: relative;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            min-width: 1%; */
        }
    /*End title*/

    /*Start carrossel img*/
        .carousel-container {
            max-width: 700px;
            max-height: 400px;
            position: relative;
            margin: auto;
        }

        .slide-img {
            display: none;
        }
        img {
            max-height: 200px;
            width: 100%;
        }

        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }
    /*Start carrossel img*/

/*End body page*/


/*Page @includes*/
        /*navbar*/
        .container_nav {
            width: 960px;
            max-width: 100%;;
            margin: 0 auto;
        }
        
        .main-header .container_nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .main-nav ul {
            margin: 1em 0 .5em;
            text-align: center;
        }
        .main-nav li {
            display: inline;
        }
        .main-nav a {
            display: inline-block;
            padding: 0.2em 0.2em;
            margin-left: 0.2em;
            margin-top: 0.5em;
        }
        
        @media (min-width: 960px) {
            .main-header .container_nav {
                justify-content: space-between;
            }
        }
        
        .btn-nav {
            -webkit-tap-highlight-color: transparent;
            line-height: 1.625em;
            white-space: nowrap;
            box-sizing: border-box;
            background-color: transparent;
            transition: all 0.3s ease 0s;
            margin: 0;
            list-style: none;
            padding: 0 8px 0px 8px;
            text-decoration: none;
            display: inline-block;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            outline: none;
            color: grey;
        }
        a {
            text-decoration: none;
        }
        /*end-navbar*/
/**/